{% extends "layout.html" %}

{% block content %}

    <main class="hero-section">
        <div class="container">
            <div class="section-content">
                <h2>Discover places near you</h2>
                <h1>Hillel Novak is SoSmart!!!</h1>
                <h1>avrohom raber is greatt!!!</h1>
                <a href="{{ url_for('signup')}}" class="btn-primary">Sign Up</a>
                <a href="{{ url_for('about')}}" class="btn-secondary">Learn More</a>
            </div>
            <div class="section-device">
                <img src="static/img/device.png" alt="">
            </div>

            <div class="clearfix"></div>
        </div>
    </main>
{% endblock %}