<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="http://fonts.googleapis.con/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="container">
            <h1 class="title">Learning Good Stuff</h1>
        </div>
    </header>

    {% block content %}
    {% endblock %}

</body>

</html>